.container {
  min-height: 100vh;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100vh;
}

.img {
  width: 120px;
  height: 105px;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.en .img {
  background-image: url("../assets/home/demo-en.png");
}
.fa .img {
  background-image: url("../assets/home/demo-fa.png");
}
